@font-face {
	font-family: HARRYP__;
	src: url('HARRYP__.TTF');
}

body {
	background-color: black;
	cursor: url('../assets/images/wand-cursor.png'), auto;
}

#container {
	width: 815px;
	background-color: black;
	margin: 0 auto;
}

.house {
	width: 400px;
	height: 400px;
	display: inline-block;
	border: 2px solid white;
	margin-bottom: 5px;
	text-align: center;
}

#gryffindor {
	background-color: #C01A1A;
	color: #F2A426;
}

#gryffindor .overlay {
	background-color: #F2A426;
	color: #C01A1A;
}

#slytherin {
	background-color: #1A472A;
	color: #DCE7DB;
}

#slytherin .overlay {
	background-color: #DCE7DB;
	color: #1A472A;
}

#hufflepuff {
	background-color: #F3B72E;
	color: #2F2A29;
}

#hufflepuff .overlay {
	background-color: #2F2A29;
	color: #F3B72E;
}

#ravenclaw {
	background-color: #00102D;
	color: #946b2d;
}

#ravenclaw .overlay {
	background-color: #946b2d;
	color: #00102D;
}

.big-letter {
	font-family: HARRYP__, serif;
	font-size: 250px;
	line-height: 400px;
}

.overlay {
	width: 400px;
	height: 400px;
	display: table;
	position: absolute;
	margin-top: -400px;
	opacity: 0;
	font-family: "Playfair Display", sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.overlay:hover {
	opacity: 1;
}

.info {
	padding-left: 15px;
	padding-right: 15px;
	display: table-cell;
	vertical-align: middle;
}


